<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="#">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/header.css">
        <link rel="stylesheet" href="styles/footer.css">
        <link rel="stylesheet" href="styles/index.css">
        <link rel="stylesheet" href="styles/search.css">
        <link rel="stylesheet" href="styles/login.css">
        <link rel="stylesheet" href="styles/register.css">
        <% if (locals.pageTitle) { %>
            <title><%= pageTitle %></title>
        <% } else { %>
            <title>Pi NAS</title>
        <% } %>
    </head>
    <body class="container body-container">
        <header class="header-container">
            <img id="title-folder-img" src="images/icons8-folder.gif">
            <a href="/home">
                <h1 id="title-logo">Pi NAS</h1>
            </a>
        </header>

