.header-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -50px;
    background-color: whitesmoke;
}

#title-logo {
    font-size: 6rem;
    color: black;
}

#title-folder-img {
    height: 120px;
    width: 120px;
    margin-right: 10px;
    background-color: none;
    border-radius: 10px;
}

.header-container img, a {
    margin-bottom: -50px;
}
