.folder-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
}

#hidden-elements {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    width: auto;
    height: 0;
}

#new-folder-input {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
}

#new-folder-input form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    width: 30vw;
    background-color: black;
    border-radius: 20px;
}

#new-file-input {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
}

#new-file-input form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    width: 30vw;
    background-color: black;
    border-radius: 20px;
}

.hidden-input {
    visibility: hidden;
    display: none;
    max-height: 0;
}

.new-back-file {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 70%;
}

@media (max-width: 600px) {
    .new-back-file {
        margin-top: 10px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        height: 50vh;
        margin-left: 0;
    }
}

.new-back-file form, .new-back-file button {
    margin-top: 10px;
    margin-inline: 10px;
}

.new-back-file img {
    width: 60px;
    height: 60px;
}

button:hover {
    background-color: black;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 6px 6px white;
}

#new-file-button {
    border-radius: 30px;
    background-color: cadetblue;
    height: 30px;
    padding-inline: 10px;
}

#new-folder-button {
    border-radius: 30px;
    background-color: blueviolet;
    height: 30px;
    padding-inline: 10px;
}

.input-file-folder {
    background-color: white;
    border-radius: 30px;
    height: 30px;
    padding-inline: 10px;
    color: black;
}

#folder-file-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
}

#invisible-element {
    visibility: hidden;
    z-index: -2;
}

#dir-nav-link-div {
    margin-left: 20px;
    display: inline;
    flex-flow: row wrap;
    align-items: start;
    justify-content: start;
}

.dir-nav-link {
    margin-top: 20px;
}

.dir-nav-link h1 {
    margin: 4px 2px 2px 2px;
}

#folder-file-main-container {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: start;
}

.folder {
    max-width: 250px;
}

.file {
    max-width: 250px;
}
