
.login-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.login-button {
    color: black;
    background-color: azure;
    border-radius: 15px;
    padding: 3px 7px;
}

#create-account {
    color: grey;
    border-radius: 10px;
    background-color: bisque;
    padding: 2px 6px;
    margin-block: 10px;
}
